<form class="add_activity" action="/activiteiten" method="POST">
  <fieldset>
    <legend>Activiteit aanmaken:</legend>
    <label for="activity_title">Name activity</label>
    <input type="text" name="activity_title" placeholder="activity_title">
    <label for="org_name">Your Name</label>
    <input type="text" name="org_name" placeholder="organisator name">
    <label for="date">Wachtwoord</label>
    <input type="date" name="date" placeholder="date">
    <input type="submit" name="save" placeholder="Voeg toe">
  </fieldset>
</form>
<!-- Sources -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/forms -->
