<form class="" action="/" method="POST">
  <label for="id">Your ID</label>
  <input type="text" name="id" value="id">
  <label for="name">Name</label>
  <input type="text" name="name" value="name">
  <label for="day">day</label>
  <input type="day" name="day" value="day">
  <input type="submit" name="save" value="save">
</form>
<!-- Sources -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/forms -->
