
<!-- views/partials/head.ejs -->
<head>
  <meta charset="UTF-8">
<title>JLU</title>
<link href="https://fonts.googleapis.com/css?family=Proza+Libre&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/style.css" text="text/css">
</head>
<body>
