<form class="register" action="/" method="POST">
  <fieldset>
    <legend>Registreren</legend>
  <label for="Name">Your Name</label>
  <input type="text" name="Name" value="Name">
  <label for="Name">Your email</label>
  <input type="email" name="email" value="E-mail">
  <label for="password">Wachtwoord</label>
  <input type="password" name="password" value="Wachtwoord">
  <label for="controle-password">Herhaal wachtwoord</label>
  <input type="password" name="controle-password" value="Wachtwoord">
  <input type="submit" name="save" value="Registreer">
  </fieldset>
</form>
<!-- Sources -->
<!-- https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/forms -->
