<!DOCTYPE html>
 <!-- head -->
  <%- include ('../partials/head') %>
    <!-- header -->
  <%- include ('../partials/header') %>
  <!-- activities -->
  <main class='activity'>
    <%- include ('../partials/activity') %>
  </main>
  <!-- footer -->
  <%- include ('../partials/footer') %>
