<!DOCTYPE html>
 <!-- head -->
  <%- include ('../partials/head') %>
    <!-- header -->
  <%- include ('../partials/header') %>

<main>
<!--  <h1>Index page </h1>
  <p>With a little help of:</p>

<ul>
  <li>https://scotch.io/tutorials/use-ejs-to-template-your-node-application</li>
  <li>https://ejs.co/</li>
</ul>

-->

<section class="loginform">
<%- include ('../partials/inlogform') %>
<p class="text-center">Nog geen account? Registreer je dan <a href="#">hier</a></p>
</section>

</main>

<!-- footer -->
  <%- include ('../partials/footer') %>
