<!DOCTYPE html>
 <!-- head -->
  <%- include ('../partials/head') %>
    <!-- header -->
  <%- include ('../partials/header') %>

<main>
  <section>
    <h1>Activiteiten</h1>
  </section>

<!--  <h1>Index page </h1>
  <p>With a little help of:</p>

<ul>
  <li>https://scotch.io/tutorials/use-ejs-to-template-your-node-application</li>
  <li>https://ejs.co/</li>
</ul>
-->

  <%- include ('../partials/activityform') %>

<!-- footer -->
  <%- include ('../partials/footer') %>
