<!DOCTYPE html>

  <%- include ('../partials/head') %>


  <%- include ('../partials/header') %>
<main>
<ul>
  <% users.forEach(function(anyPrm){ %>
    <li><%= anyPrm.name + ' ' + anyPrm.email %></li>
  <% }); %>
</ul>

</main>

<%- include ('../partials/footer') %>
