<!DOCTYPE html>

  <%- include ('../partials/head') %>


  <%- include ('../partials/header') %>

<main>
  <h1>About page </h1>
  <p>With a little help of:</p>
<ul>
  <li>https://scotch.io/tutorials/use-ejs-to-template-your-node-application</li>
  <li>https://ejs.co/</li>
</ul>

<ul>
  <% users.forEach(function(anyPrm){ %>
    <li><%= anyPrm.name + ' ' + anyPrm.email%></li>
  <% }); %>
</ul>

</main>

  <%- include ('../partials/footer') %>
