<!DOCTYPE html>

<head>
  <%- include ('../partials/head') %>
</head>

<header>
  <%- include ('../partials/header') %>
</header>

<main>
  <h1>INDEX page </h1>
  <p>With a little help of:</p>
<ul>
  <li>https://scotch.io/tutorials/use-ejs-to-template-your-node-application</li>
  <li>https://ejs.co/</li>
</ul>

</main>

<footer>
  <%- include ('../partials/footer') %>
</footer>
