*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Proza Libre', sans-serif;
}

body{
  display:grid;
  grid-template-columns: 15em auto;
  grid-template-rows: auto;
  background-color: #00a6e2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='79' height='79' viewBox='0 0 200 200'%3E%3Cpolygon fill='%231b1464' fill-opacity='0.54' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
  background-position: center;
  background-attachment: fixed;
}

h1{
  font-size: 4em;
  color: #fff;
}

h2{
  font-size: 2em;
  color: #fff;
}

h3{
  font-size: 1.5em;
}

header{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:sticky;
  top:0;
  width: 15em;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 2px 10px 1px #525252;
  z-index: 1;
}
/* add hover over header element */

header > nav > ul{
  display: flex;
  flex-direction: column;
}

 header >  nav > ul > li{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  line-height: 4em;
}

header > nav > ul > li > a{
  display: block;
  position:relative;
  padding-left: 32px;
}

header >  nav > ul > li > a::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background: #00a6e2;
  border-top-right-radius: 5px;
  top: 0;
  left: -10px;
  transition: all .2s
}

header >  nav > ul > li > a:hover::before{
  left: 0px;
}

.user{
  margin-bottom: 32px
}

.user li{
  width: 80%;
  background: #febc06;
  margin: auto;
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  transition: border 1s, background .2s;
}

.user li:hover{
  background: #fff;
  border: 2px solid #febc06;
  transition: border 1s, background .2s;
}

.user li a{
  display: block;
  padding: 8px 16px;
  width: 100%;
  height: 100%;
}

.navbar-brand{
  width: 100%;
  height: auto;
  padding: 10%;
}

.searchAdd{
  background: white;
  padding: 64px;
}

.searchAdd h1{
  color: #000;
}

.activityList{
 width: 75%;
 margin: 0 auto;
}

aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top:0;
  right: 0;
  width: 15em;
  height: 100vh;
  background: white;
  box-shadow: 1px 2px 10px 1px #525252;
  z-index: 1
}

section.hero{
  display:flex;
  justify-content: space-between;
  background-color: #1b1464;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='317' height='317' viewBox='0 0 200 200'%3E%3Cpolygon fill='%2300a6e2' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
  width: 100%;
  height: 40vh;
  padding: 32px 64px;
}

section.hero > *{
  display: block;
}

.page-title{
  flex-grow: .75;
}

ul li{
    list-style-type: none;
}

li a{
  text-decoration: none;
}

li a:visited{
  color: #1b1464;
  text-decoration:none;
}


/* activities */
.activitycard{
  margin: 1em;
  display: inline-block;
  width: 20em;
  background: white;
  border-radius: 10px;
  overflow:hidden;
}

.activitycard img{
  width:100%;
  height: 15em;
}

.activitycard ul, .activitycard a{
  padding: 32px;
}

.activitycard ul li{
  list-style-type: none;
}

section.loginform, aside.loginform{
  background:white;
  width: 30em;
  min-width: 334px;
  border-radius: 10px;
  padding: 32px;
}

.text-center {
  text-align: center;
}


form.login *, form.register * {
  margin-bottom: 32px;
}

legend{
  font-size: 2em;
  font-weight: 800;
}

fieldset{
  border:none;
}

form.login input, form.register input{
  display: block;
  max-width: 30vw;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"], a.CTA, a.CTA:visited{
  padding: 8px 16px;
  border-radius: 5px;
  background:#fbb71c;
  width: 50%;
  border:none;
  text-decoration: none;
}

a.CTA{
  font-size: 1.5em;
  max-width: 250px;
  text-align: center;
}

main{
  grid-column: 2/3;
}


footer{
  grid-column: 2/3;
  position: relative;
  bottom: 0px;
  display: sticky;
  background: #fff;
  min-height: 100px;
  width: 100%;
}

footer p{
  font-size: 14px;
}

@media screen and (max-width: 960px){
  nav ul li{
    display: block;
  }
}
